body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 15px;
  overflow: auto;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.links {
  float: right;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
}

header {
  background-color: #ff914d;
  color: white;
  padding: 40px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #ff914d;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.book-button {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.book-button:hover {
  background-color: #43a047;
}
